<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Session Words</title>
	{% load static %}
<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'session_words/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
<!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
</head>
<body>
	<div class="container">
		<div class="left">
			<h1>Add a New Word</h1>
			<form action="/add" method="post">
				{% csrf_token %}
				<input type="text" name="content">
				<p>Choose a color:</p>
				<label>Red<input type="radio" name="color" value="red"></label>
				<label>Green<input type="radio" name="color" value="green"></label>
				<label>Blue<input type="radio" name="color" value="blue"></label>
				<label>Show in BIG fonts!<input type="checkbox" name="bigfont"></label>
				<input type="submit" name="submit" value="Add to Session">
			</form>	
		</div>
		<div class="right">
			<form action='/clear' method="post">
				{% csrf_token %}
				<input type="submit" name="clearsession" value="Clear Session">
			</form>
		{% if request.session.words %}
			{% for word in request.session.words %}
			<p><span style="color:{{ word.color }}" class="{{ word.bigfont }}">{{ word.content }}</span></p>
			{% endfor %}
			{% endif %}
		</div>

	</div>
</body>
</html>