* {
	margin: 0px;
	padding: 0px;
	font-weight: unset;
}

div.container{
	width: 1000px;
}

label{
	display: block;
}

div.left{
	border: 2px solid black;
	height: 200px;
	width: 300px;
}

div.right, div.left{
	display: inline-block;
	vertical-align: top;
}

div.right{
	height: 200px;
	width: 300px;
}

.big{
	font-size: 2em; 
}